.gridsquare {
  border: 1px solid black;
  height: 15px;
  width: 15px;
}

.currsquare {
  background-color: black;
}

.gamegrid {
  border: 3px solid black;
}

.pause_screen {
  background-color: grey;
}

.lose_screen {
  background-color: red;
}

.food0 {
  background-image: url("assets/food1.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
.food1 {
  background-image: url("assets/food2.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
.food2 {
  background-image: url("assets/food3.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
.food3 {
  background-image: url("assets/food4.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
.food4 {
  background-image: url("assets/food5.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

button {
    border-radius: 5px 5px 5px 5px;
    background-color: greenyellow;
}