.gridsquare {
  border: 1px solid black;
  height: 15px;
  width: 15px;
}

.currsquare {
  background-color: black;
}

.gamegrid {
  border: 3px solid black;
}

.pause_screen {
  background-color: grey;
}

.lose_screen {
  background-color: red;
}

.food {
  background-image: url("/assets/Screenshot\ 2023-10-10\ at\ 08.31.14.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

button {
    border-radius: 5px 5px 5px 5px;
    background-color: greenyellow;
}